   @keyframes width {
            0%{
                width: 300px;
                height: 300px;

            }50%{
                width: 900px;
                height: 900px;
                background-color: yellow;

            }100%{
                width: 100px;
                height: 100px;
                background-color: red;

            }
            
        }
    .container{
        width: 100vw;
        height: 100vh;
        background-color: aqua;

    }
    .box{
        width: 300px;
        height: 300px;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-content: center;
        animation-name: width;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 5s;
        border-radius: 10px;
    

    }