
        header{
            background-color: black;
            color: white;
        
        }
        ul{
            display:grid inline;

        }
        ul li{
            list-style: none;
            margin: 0 23px;
            padding: 23px 0;
            font-style: italic;
            text-transform: capitalize;
            font-family: 'Courier New', Courier, monospace;

        }

        
            @media screen and (max-width: 800px) {
                header{
                background-color: red;
            }
            
        }
          @media screen and (max-width: 600px) {
            header{
                background-color: yellow;
            }
            
        }