
        p{
            width: 1000px;
            transition-duration: 3s;
            transition-property: width;
            transition-timing-function: ease-in-out;
            transition-delay: 2s;
            transition: width 3s ease-in-out  2s;
        }
        image:hover{
            background-color: yellow;
            width: 55px;
            height: 50px;
        }
        
        .container{
            background-color: red;
            height: 100vh;
            
        }
        /* image:hover{
            width: 56px;
            background-color: yellow;
        } */