.container{
            display: flex ;
            height: 200vh;
            width: 200vw;
            background-color: blue;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;

        }
        .box1{
            width: 250px;
            height: 250px;
            background-color: red;
            order: 4;
            
        }
         .box2{
            width: 250px;
            height: 250px;
            background-color: green;
            align-self: flex-end;
        }
         .box3{
            width: 250px;
            height: 250px;
            background-color: yellow;
            /* flex-grow: 3; */
        }
         .box4{
            width: 250px;
            height: 250px;
            background-color: gray;
            flex-shrink: inherit;
        }