.box1{
            height: 334px;
            width: 345px;
            background-color: red;
            float: left;
          
            

        }
        .box2{
            height: 344px;
            width: 345px;
            background-color: green;
            float: right;
              clear: left
            


        }